*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
/*start navbar*/
#f {
    background-color: white; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #000; 
}

 .content {
    display: flex;
    align-items: center; 
    font-weight: bold; 

}
  .content img {
    margin-right: 10px; 
}
.content span {
    font-size: 1.5rem; 
    font-weight: bold; 
     color: #EBD96B;
    
}
.navbar-nav .nav-item .nav-link {
    color:#EBD96B ;
    font-weight: 500;
    margin: 0 15px;
    transition: color 0.7s;
    font-weight: bold;  
}
.navbar-nav .nav-item .nav-link:hover {
    color:#000 ;
    border-bottom: 2px solid  ;
    transition: color 0.7s;
}

 .temm .nav-item .nav-link {
    color: white !important;
    background-color: #000;
    border-radius: 10%;
}
/*end navbar*/
/*start home*/
.home .container {
    background: #f4f6f5;
    height: 100vh;
    border-radius: 59px;
    width: 1150px;
    margin-top: 30px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
  }
  
  .home .container .row .content h1  {
    font-size: 5rem;  
    line-height: 1.2;  
    margin: 0;  
    color: #000; 
  }
  .home .container .row .content p{
    font-size: 1.2rem;  
    margin: 10px 0;  
    color: #666;  
  } 
  .home .container .row .content h1 span{
    background-color: #EBD96B !important;
    font-size: 4rem;  
    line-height: 1.2;  
    margin: 0px;  
    color: #000; 
    padding-left: 20px;
    padding-right: 70px;
  }

  .home .content {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .home .container img {
    width: 100%;
    height: 100vh;
    top: 232px;
    left: 500px;
    gap: 0px;
    opacity: 0px;
  }
  .btn-main {
    background-color:  #000  !important;
     color: white !important;
    width: 25%;
    margin: 0 20px;
  padding: 20px;
   
  }
.box img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1520px;
    padding-left: 0px;
    padding-right: 0px;
}
/*end home*/
/*start title*/
.title h1 {
    font-size: 3rem;  
    font-weight: bold; 
    margin-left: 30px;  

}
.title h1 span {
    color: #EBD96B;  
    font-weight: bold;  
}

/*end title*/
/*start cards*/
.container {
    margin-top: 60px;

  
}
.card {
    border: none;  
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s; 
    margin: auto;

}
.card:hover {
    transform: translateY(-10px);  
}

.card-img-top {
    border-radius: 10px 10px 0 0; 
     
}

.card-title {
    font-size: 1.2rem; 
    color: #000; 
   margin-left: auto; 
   display: flex; 
   
}

.more{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #666;
 }
 .orange{
     color: #ff5733;  ;
 }
 .purple{
    color: #b199c6;
 }
 .blue{
    color:  #99d4d4;
 }
.card-body i {
   
    font-size: 1.5rem;    
    cursor: pointer;  
    padding-left: 80px;
    
}
.card-body i:hover {
    animation: none;  
    transform: translateX(5px);  
}
/*end cards*/
/*star payday*/
.mena{
    background:   linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);

}
.photo img {
    max-width: 100%;  
    height: auto;  
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    box-shadow: none;
}

.pay {
 
    flex-direction: column;
    justify-content: center;  
 padding-top: 30%;
 margin-left: 25%;
}

.pay h1 {
    font-size: 4rem;  
    font-weight: bold; 
    color: #000;  
    margin-bottom: 15px; 



}
.pay h1 span{
    background-color: white !important;
    margin-right: 50px;
   padding: 0 10px;
}
.pay p {
    font-size: 1.2rem;  
    font-weight: 100px;
    color: #000;  
    margin-bottom: 10px; 

    

}
 .pay p span{
    font-weight: bold; 

 }

.button {
    margin-top: 20px; 
 
}

.btn-main {
    background-color:  #000  !important;
     color: white !important;
    width: 25%; 
  padding: 20px;
  font-size: 25em; 
  border-radius: 5px;  
  cursor: pointer;  
  margin-right: 70px;
  
   
  }
/*end pay day*/
